// MUI theme
$primary-main-color: #0099cc;
$primary-light-color: #33add6;
$primary-dark-color: #006b8e;
$primary-contrastText-color: #ffffff;
$secondary-main-color: #006699;
$secondary-light-color: #3384ad;
$secondary-dark-color: #00476b;
$secondary-contrastText-color: #ffffff;
$error-main-color: #cc0000;
$error-light-color: #d63333;
$error-dark-color: #8e0000;
$error-contrastText-color: #ffffff;
$warning-main-color: #ff6600;
$warning-light-color: #ffb74d;
$warning-dark-color: #b24700;
$warning-contrastText-color: #ffffff;
$success-main-color: #008a00;
$success-light-color: #33a133;
$success-dark-color: #006000;
$success-contrastText-color: #ffffff;
$info-main-color: #0099cc;
$info-light-color: #33add6;
$info-dark-color: #006b8e;
$info-contrastText-color: #ffffff;
$text-primary-color: #333333;
$text-secondary-color: #333333;
$text-disabled-color: #757575;
$divider-color: #e0e0e0;

// Other colors
$grey-800-color: #424242;
$grey-300-color: #e0e0e0;
$grey-200-color: #eeeeee;
$grey-100-color: #f5f5f5;
$white-color: #ffffff;
$black-color: #000000;
